p
{
	color:white;
}
body{
	  background:black;
  }
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td 
  {
	  color:white;
  }
  nav ul li a
  {
	  color:white;
  }

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"],select, input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}